.col-md-10.users
  = render @users
  .row
    .col-md-12.pagination
      = will_paginate @users, renderer: BootstrapPagination::Rails

:javascript
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
