.user-page {
  .user-profile {
    height:350px;
    background-size: cover;
    text-align:center;
    .user-avatar {
      img {
        margin-top:50px;
        box-shadow:0 0 10px #fff;
        display:inline-block;
        width:200px;
        height:200px;
      }
    }
    .user-names {
      margin-top:7px;
      font-weight:bold;
      color:#fff;
      font-size:2.1rem;
    }
    .follow-link {
      margin-top:10px;
    }
  }
}

.users {
  .user {
    padding:3px !important;
    margin:0;
    text-align:center;
    margin-bottom:5px;
    img {
      width: 100%;
      height:auto;
    }
    .user-info {
      margin-top:5px;
      a {
        font-weight:bold;
        font-size:1.7rem;
      }
    }
    .user-links {
      font-size:2rem;
      a {
        color:#333;
      }
      a:hover {
        color:#006699;
        text-decoration:none;
      }
    }
  }

  .pagination {
    text-align:center;
  }
}

.following {
  .follow-preview {
    margin:0;
    padding:1px !important;
  }
}

.following-count {
  margin-top:5px;
  margin-bottom:5px;
}

.btn-follow {
  width:100% !important;
  border-radius:0 !important;
  padding:5px !important;
  font-weight:bold !important;
  color:#fff !important;
  background: #37474F !important;
  border:none !important;
}
